<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Completed</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <h1>Congratulations!</h1>
  </header>

  <main>
    <p>You have successfully completed the Encrypted Escape Event!</p>
    <a href="/">Go to Home</a>
  </main>

  <footer>
    <p>© 2025 Encrypted Escape Event</p>
  </footer>
</body>
</html>
